:root.theme-dark {
  --accent-color: #FF0070;
  --side-accent-color: #DB00FF;
  --accent-text-color: #FF0070;
  --text-color: #F1B2CE;
  --link-shadow: #FF0070;
  --background-text-color: #000028;
  --background-color: #000028;
  --background-immage: url(/images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --side-accent-color: #DB00FF;
    --accent-text-color: #FF0070;
    --text-color: #F1B2CE;
    --link-shadow: #FF0070;
    --background-text-color: #000028;
    --background-color: #000028;
    --background-immage: url(/images/cover-image-dark.png);
  }
  :root.theme-dark .rec-label,
  :root.theme-auto .rec-label {
    display: block;
  }
  :root.theme-light .rec-label {
    display: none;
  }
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
