/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex mono';
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/** ---Это header--- **/
.header {
  background-image: var(--background-immage);
  background-position: bottom;
  background-size: cover;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header__theme-menu-list {
  list-style: none;
  padding: 0;
  margin-top: 73px;
  margin-right: -25px;
}

.header__theme-menu-item {
  margin-bottom: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  border: none;
  color: var(--accent-text-color);
  cursor: pointer;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-text-color);
}

.header__preview-text {
  margin-top: 58px;
  margin-left: 10px;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--side-accent-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-text-color);
  padding-top: 40px;
}

.decorated-square {
  width: 25.04px;
  height: 25px;
}

.square-top {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.square-bottom {
  margin-left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--background-text-color);
  margin: 55px 10px 31px 10px;
}

.title-decor {
  background-color: var(--accent-color);
}

.margins-bottom {
  border: 5px solid transparent;
}

.margins-top {
  border: 1px solid transparent;
}

.decorated-circle {
  margin: 7px;
  width: 9px;
  height: 9px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 2px 2px var(--accent-color);
}

.rec-label {
  position: absolute;
  top: 10px;
  right: 38px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
/** ---Это header--- **/



@media (width >= 768px) {
  /** ---Это media для header--- **/
  .square-top {
    margin-top: 20px;
    margin-right: 20px;
  }
  .rec-label {
    top: 20px;
    right: 50px;
  }
  .header__theme-menu-list {
    margin-top: 191px;
    margin-right: -25px;
  }
  .br__no-focus {
    display: none;
  }
  .header__preview-text {
    margin-top: 167px;
    margin-left: 0px;
  }
  .header__text {
    margin: 162px 21px 138px 384px;
  }
  .square-bottom {
    margin-left: 20px;
  }
  .margins-bottom {
    border: 10px solid transparent;
  }
  /** ---Это media для header--- **/



  /** ---Это media для main --> секция 1--- **/
  .informative__text-one {
    display: grid;
    grid-template-columns: 236px 1fr 1fr;
    grid-template-rows: 23px auto auto;
    column-gap: 20px;
    padding: 0px 20px 60px;
  }
  .heading {
    padding: 0px;
    font-size: 18px;
  }
  .subtitle {
    margin: 0px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .main-text {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /** ---Это media для main --> секция 1--- **/



  /** ---Это media для main --> секция 2--- **/
  .informative__text-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto auto auto;
    padding: 0 20px 60px;
  }
  .informative__text-two > .heading {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-right: 491px;
  }
  .informative__text-two > .subtitle {
    margin: 0px;
    grid-column: 1;
    grid-column-end: 4;
  }
  .informative__text-two > .main-text {
    grid-column: 1;
    grid-column-end: 4;
  }
  /** ---Это media для main --> секция 2--- **/



  /** ---Это media для main --> секция 3--- **/
  .informative__text > .subtitle-side {
    margin-top: 21px;
  }
  .informative__text:first-child {
    padding-top: 60px;
  }
  /** ---Это media для main --> секция 3--- **/



  /** ---Это media для main --> секция 4--- **/
  .informative__text-photos {
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 23px 192px 230px 318px;
    gap: 20px;
    box-sizing: border-box;
    grid-auto-flow: dense;
    padding-left: 20px;
  }
  
  .gallery__image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }
  .informative__text:last-child > .subtitle {
    margin-top: 0px;
    margin-left: -248px;
  }
  .gallery__image:nth-child(2) {
    grid-column: 1 / -2;
    grid-row: 2 / -3;
  }
  .gallery__image:nth-child(3) {
    grid-column: 3 / 3;
    grid-row: 2 / -2;
  }
  .gallery__image:nth-child(4) {
    grid-column: 1 / -3;
    grid-row: 3 / -1;
  }
  .gallery__image:nth-child(5) {
    grid-column: 2 / -3;
    grid-row: 3 / -2;
  }
  .gallery__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 ;
  }
  .informative__text:last-child {
    padding-bottom:60px;
  }

  /**.gallery__image:nth-child(2) {
    width: 479px;
    height: 192px;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .gallery__image:nth-child(3) {
    width: 229px;
    height: 442px;
    grid-column: 3;
    grid-row: 2 / 4;
  }
  .gallery__image:nth-child(4) {
    width: 229px;
    height: 568px;
    grid-column: 1;
    grid-row: 3 / 5;
  }
  .gallery__image:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }
  .gallery__image:nth-child(6) {
    width: 479px;
    height: 318px;
    grid-column: 2;
    grid-row: 4 / 5;
  }**/
  /** ---Это media для main --> секция 3--- **/



  /** ---Это media для footer--- **/
  .footer__preview-text {
    font-weight: 700;
    font-size: 120px;
    line-height: 99px;
    padding-top: 461px;
    padding-left: 188px;
    padding-bottom: 417px;
  }
  /** ---Это media для footer--- **/
}



@media (width >= 1024px) {
  /** ---Это media для header--- **/
  .header__theme-menu {
    flex-direction: row;
  }
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin-top: 19px;
    margin-right: -45px;
  }
  .header__preview-text {
    margin-top: 265px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 129.53px;
}
  .header__theme-menu-button {
    width: 70px;
    height: 26px;
  }
  .header__text {
    margin: 113px 20px 90px 513px;
  }
  /** ---Это media для header--- **/



  /** ---Это media для main --> секция 1--- **/
  .informative__text-one {
    grid-template-columns: 314.96px 1fr 1fr;
  }
  /** ---Это media для main --> секция 1--- **/



  /** ---Это media для main --> секция 2 и 3--- **/
  .informative__text-two {
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 47px 23px 398px;
    gap: 20px;
  }
  .informative__text-two > .heading {
    margin-right: 618px;
  }
  .informative__text-two > .subtitle {
    grid-column: 1;
  }
  .informative__text-two > .main-text {
    grid-column: 1;
    margin-top: -10px;
  }
  .informative__text-two > .subtitle__big-screen-three {
    grid-column: 2;
    grid-row: 2;
  }
  .informative__text-two > .subtitle__big-screen-four {
    grid-column: 3;
    grid-row: 2;
  }
  .informative__text-two > .main-text__big-screen-three {
    grid-column: 2;
    grid-row: 3;
  }
  .informative__text-two > .main-text__big-screen-four {
    grid-column: 3;
    grid-row: 3;
  }
  /** ---Это media для main --> секция 2 и 3--- **/



  /** ---Это media для main --> секция 4--- **/
  .informative__text-photos {
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 23px 260px 315px 433px;
  }
  .gallery__image:nth-child(2) {
    width: 650px;
    height: 260px;
  }
  .gallery__image:nth-child(3) {
    width: 314px;
    height: 595px;
  }
  .gallery__image:nth-child(4) {
    width: 315px;
    height: 768px;
  }
  .gallery__image:nth-child(6) {
    width: 649px;
    height: 433px;
  }
  /** ---Это media для main --> секция 4--- **/



  /** ---Это media для footer--- **/
  .footer__preview-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 129.53px;
    padding-top: 319px;
    padding-left: 262px;
    padding-bottom: 274px;
  }
  /** ---Это media для footer--- **/
}
