:root.theme-light {
  --accent-color: #FF8DCB;
  --side-accent-color: #FFC2E6;
  --accent-text-color: #353430;
  --text-color: #353430;
  --link-shadow: #FF8DCB;
  --hover-button-color: rgba(20%, 19%, 18%, 0.4);
  --background-text-color: #353430;
  --background-color: #ffffff;
  --background-immage: url(/images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --side-accent-color: #FFC2E6;
    --accent-text-color: #353430;
    --text-color: #353430;
    --link-shadow: #FF8DCB;
    --hover-button-color: rgba(20%, 19%, 18%, 0.4);
    --background-text-color: #353430;
    --background-color: #ffffff;
    --background-immage: url(/images/cover-image-light.png);
  }
  :root.theme-light .rec-label,
  :root.theme-auto .rec-label {
    display: none;
  }
  :root.theme-dark .rec-label {
    display: block;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
