/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-immage);
  background-color: #000028;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/** ---Это header--- **/
.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-text-color); /* Цвет рамки */
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  position: absolute;
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header__theme-menu-list {
  list-style: none;
  padding: 0;
  margin-top: 73px;
  margin-right: 10px;
}

.header__theme-menu-item {
  margin-bottom: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  border: none;
  color: var(--accent-text-color);
  cursor: pointer;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-text-color);
}

.header__preview-text {
  margin-top: 58px;
  margin-left: 10px;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--side-accent-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-text-color);
  padding-top: 40px;
}

.header__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--background-text-color);
  margin: 55px 10px 31px 10px;
}

.title-decor {
  background-color: var(--accent-color);
}

.rec-label {
  position: absolute;
  top: 11px;
  right: 38px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.rec-label::after {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color); /* Цвет рамки */
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 5px;
  left: 40px;
  background-color: var(--accent-color);
  filter: blur(3px);
}
/** ---Это header--- **/



/** ---Это main--- **/
.main {
  font-size: 18px;
  line-height: 23.4px;
}

.informative__text {
  padding: 0 10px 10px;
}

.subtitle {
  font-weight: 700;
  color: var(--background-text-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.informative__text:last-child > .subtitle {
  margin-top: 40px;
}

.main-text {
  font-weight: 400;
  color: var(--text-color);
}

.subtitle-thin {
  font-weight: 400;
}

.informative__text > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  margin-bottom: 5px;
}

.main-text__link {
  text-shadow: 2.2px 1.5px var(--link-shadow);
  text-decoration: none;
}
/** ---Это main--- **/



/** ---Это footer--- **/

.footer {
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__preview-text {
  font-weight: 700;
  font-size: 116px;
  line-height: 95.7px;
  color: var(--side-accent-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}
/** ---Это footer--- **/



/** ---Это focus'ы и hover'ы кнопок и ссылок--- **/
.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--accent-text-color);
  outline: none;
}

.main-text__link:focus {
  outline: 1px solid var(--text-color);
}

.header__theme-menu-button:hover {
  outline: none;
  border: 1px solid rgba(255, 140, 203, 0.4);
}

.main-text__link:hover {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}
/** ---Это focus'ы и hover'ы кнопок и ссылок--- **/



@media (width >= 768px) {
  /** ---Это media для header--- **/
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .rec-label::after {
    top: 7px;
    left: 43px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .rec-label {
    top: 20px;
    right: 50px;
  }
  .header__theme-menu-list {
    margin-top: 192px;
    margin-right: 20px;
  }
  .header__preview-text {
    margin-top: 167px;
    margin-left: 0px;
  }
  .header__text {
    margin: 161px 20px 138px 384px;
  }
  /** ---Это media для header--- **/



  /** ---Это media для main --> секция 1--- **/
  .informative__text-small {
    display: grid;
    grid-template-columns: 236px 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr;
    column-gap: 20px;
    padding: 0px 20px 60px;
  }
  .heading {
    padding: 0px;
    font-size: 18px;
  }
  .subtitle {
    margin: 0px;
    margin-bottom: 47px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .main-text {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: -37px;
    margin-bottom: 20px;
  }
  /** ---Это media для main --> секция 1--- **/



  /** ---Это media для main --> секция 2--- **/
  .informative__text-average {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 0 20px 60px;
  }
  .informative__text-average > .heading {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-right: 491px;
  }
  .informative__text-average > .subtitle {
    margin: 0px;
    margin-top: 20px;
    grid-column: 1;
    grid-column-end: 4;
  }
  .informative__text-average > .main-text {
    margin: 0px;
    margin-top: 10px;
    grid-column: 1;
    grid-column-end: 4;
  }
  /** ---Это media для main --> секция 2--- **/



  /** ---Это media для main --> секция 3--- **/
  .informative__text:nth-child(3) > .subtitle__z-index__up {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    z-index: -1;
    width: auto;
    height: 23px;
  }
  .subtitle-side {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    z-index: 0;
    margin-top: 43px;
    height: 23.92px;
    width: auto;
  }
  .informative__text:nth-child(3) > .main-text-first {
    grid-column: 2 / 4;
    grid-row: 2;
    margin-top: -17px;
  }
  .informative__text:first-child {
    padding-top: 60px;
  }
  /** ---Это media для main --> секция 3--- **/



  /** ---Это media для main --> секция 4--- **/
  .informative__text-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    box-sizing: border-box;
    grid-auto-flow: dense;
    padding-left: 20px;
  }
  .subtitle-photos {
    margin-bottom: 0px;
  }
  .gallery__image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }
  .informative__text:last-child > .subtitle {
    margin-top: 0px;
    grid-column: 1 / 4
  }
  .gallery__image:nth-child(2) {
    grid-column: 1 / -2;
    grid-row: 2 / -3;
  }
  .gallery__image:nth-child(3) {
    grid-column: 3 / 3;
    grid-row: 2 / -2;
  }
  .gallery__image:nth-child(4) {
    grid-column: 1 / -3;
    grid-row: 3 / -1;
  }
  .gallery__image:nth-child(5) {
    grid-column: 2 / -3;
    grid-row: 3 / -2;
  }
  .gallery__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 ;
  }
  .informative__text:last-child {
    padding-bottom:60px;
  }

  /**.gallery__image:nth-child(2) {
    width: 479px;
    height: 192px;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .gallery__image:nth-child(3) {
    width: 229px;
    height: 442px;
    grid-column: 3;
    grid-row: 2 / 4;
  }
  .gallery__image:nth-child(4) {
    width: 229px;
    height: 568px;
    grid-column: 1;
    grid-row: 3 / 5;
  }
  .gallery__image:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }
  .gallery__image:nth-child(6) {
    width: 479px;
    height: 318px;
    grid-column: 2;
    grid-row: 4 / 5;
  }**/
  /** ---Это media для main --> секция 3--- **/



  /** ---Это media для footer--- **/
  .footer__preview-text {
    font-weight: 700;
    font-size: 120px;
    line-height: 99px;
  }
  /** ---Это media для footer--- **/
}



@media (width >= 1024px) {
  /** ---Это media для header--- **/
  .header__theme-menu {
    flex-direction: row;
  }
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin-top: 20px;
    margin-right: 0px;
  }
  .header__preview-text {
    margin-top: 265px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 129.53px;
}
  .header__theme-menu-button {
    width: 70px;
    height: 26px;
  }
  .header__text {
    margin: 112px 20px 90px 513px;
  }
  /** ---Это media для header--- **/



  /** ---Это media для main --> секция 1--- **/
  .informative__text-small {
    grid-template-columns: 314.96px 1fr 1fr;
  }
  /** ---Это media для main --> секция 1--- **/



  /** ---Это media для main --> секция 2 и 3--- **/
  .informative__text-average {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px 72px;
  }
  .informative__text:nth-child(3) > .main-text-first {
    margin-top: 12px;
  }
  .informative__text-average > .heading {
    margin-right: 618px;
  }
  .informative__text-average > .subtitle {
    grid-column: 1;
  }
  .informative__text-average > .main-text {
    grid-column: 1;
    margin-top: -10px;
  }
  .informative__text-average > .subtitle__big-screen-more {
    grid-column: 2;
    grid-row: 2;
  }
  .informative__text-average > .subtitle__big-screen-big {
    grid-column: 3;
    grid-row: 2;
  }
  .informative__text-average > .main-text__big-screen-more {
    grid-column: 2;
    grid-row: 3;
  }
  .informative__text-average > .main-text__big-screen-big {
    grid-column: 3;
    grid-row: 3;
  }
  /** ---Это media для main --> секция 2 и 3--- **/



  /** ---Это media для main --> секция 4--- **/
  /**.informative__text-photos {
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 23px 260px 315px 433px;
    margin-top: 0px;
  }
  .gallery__image:nth-child(2) {
    width: 650px;
    height: 260px;
  }
  .gallery__image:nth-child(3) {
    width: 314px;
    height: 595px;
  }
  .gallery__image:nth-child(4) {
    width: 315px;
    height: 768px;
  }
  .gallery__image:nth-child(6) {
    width: 649px;
    height: 433px;
  }**/
  
  /** ---Это media для main --> секция 4--- **/



  /** ---Это media для footer--- **/
  .footer__preview-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 129.53px;
  }
  /** ---Это media для footer--- **/
}